*{
    margin: 0px auto;
}

/* banner section styles */

.banner-container{
background-image: url('../images/donation6.jpg');
width: 1440px;
height: 650px;
background-repeat: no-repeat;
box-sizing: border-box;
background-size: cover;
text-align: center;

}

.banner-title{
   
    color: tomato;
    padding: 200px 0 25px 0;
    font-size: 50px;
    margin: 0 400px;
}
.banner-paragraph{
    color: wheat;
    padding: 10px o;
    margin: 0 400px;
    font-size:20px;
    
}

.btn-primary{

    background: royalblue;

    padding: 10px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px 0;

}
 /* banner section styles end */


 /* donate amount styles start */
.donate-container{
    text-align: center;
    margin: 0 400px;
}
.donate-title{
    padding: 100px 0 25px 0;
    color: #121212;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-align: center;
}
.donate-paragraph{
    margin: 10px 0px;
    font-size: 25px;
    
}
.donate-all-taka{
    display: flex;
}
.donate-taka{
    border: 0;
    padding: 30px;
    border-radius: 5px;
    background: #FAFAFA;
    margin-bottom: 50px;
    color: #707070;
    
}

.donate-taka-4000{
    border: 3px solid royalblue ;
    padding: 30px;
    border-radius: 5px;
    background: #FFEEEE;
    margin-bottom: 50px;
    color: #707070;
}
.others-taka{
    margin-bottom: 10px;
    color: #d2cdcd;
    font-size: 25px;
}
 /* donate amount styles  end*/

 /* Our Donate Plan start */
.plan-title{
    text-align: center;
    padding: 10px;
}
 .plan-paragraph{
    text-align: center;
    margin: 25px 260px;
    font-size: 25px;
 }

 .plan-container{

 }


 .plan-paragraph{
    text-align: center;
    margin: 30px 400px;
 }

 .seva-All{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px 120px;
    
    
 }
 .seva-item-one{
    background: #0abad1;
    padding: 50px 20px;
    font-size: 20px;
 }
.seva-item-two{
    background: #8ae7f3;
    padding: 50px 20px;
    font-size: 20px;
}
.seva-item-three{
    background: #195961;
    padding: 50px 20px;
    font-size: 20px;
}
 
 /* Our Donate Plan end */

 


 /* second photo */
/* updates section styles here */
.updates {
    margin: 100px 300px;
    text-align: center;
}

.update-title {
    padding: 50px 0 25px 0;
    color: #121212;
    font-family: 'Inter',
        sans-serif;
    font-size: 40px;
}

.update-text {
    color: #707070;
}

.update-box {
    text-align: center;
    width: 700px;
    height: 200px;
    background: #FFF4D6;
    margin-bottom: 150px;
    padding-top: 120px;
}

.email {
    padding: 20px 40px;
    border: 0;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-right: -5px;
}

.subscribe {
    padding: 20px 40px;
    border: 0;
    background: #FF5959;
    border-radius: 0px 5px 5px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

/* updates section end */
.footer-section {
    height: 170px;
    background: #0B0D17;
}

.footer-logo {
    padding-top: 50px;
    color: #B74245;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer-text {
    color: #fff;
    text-align: center;
}